###  VariablesandDataTypes

In [ ]:
#Variables

In [ ]:
A variable is a name that stores a value.
In Python, we don’t need to declare the type before assigning a value.
Variables can store data of different types, and different types can do different things.

In [ ]:
x = 10           # integer variable

In [ ]:
x

In [ ]:
name = "Rabina"  # string variable

In [ ]:
name

In [ ]:
pi = 3.14        # float variable

In [ ]:
pi

In [ ]:
is_student = True  # boolean variable

In [ ]:
is_student

## Rules for Variable Names

In [ ]:
2value = 10     # cannot start with number
first-name = 20 # cannot use hyphen
my value = 30   # cannot have space

###  DataTypes

In [ ]:
#string
x = "Hello Everyone"
x

In [ ]:
#integer
y = 10
y

In [ ]:
#float
z = 19.77
z

In [ ]:
#complex
a = 6j
a

## DataStructure

In [ ]:
##List
A list is an ordered collection in Python.
It can store multiple values (even of different data types).
Lists are mutable → you can change, add, or remove items.
Defined using square brackets [ ]

In [ ]:
#list
l = ["apple", "banana", "cherry"]
l

In [ ]:
##Creating a List
fruits = ["apple", "banana", "mango"]
numbers = [10,20,30,40,50]
mixed = [1, "hello", 3.2, True]
mixed

In [ ]:
##Accessing List Items
fruits = ["apple", "banana", "mango"]
print(fruits[0])   # apple (1st item)
print(fruits[1])   # banana
print(fruits[-1])   # mango (last item)

In [ ]:
##. Changing Items
fruits = ["apple", "banana", "mango"]
fruits[1] = "orange"
print(fruits)   # ['apple', 'orange', 'mango']

In [ ]:
##Adding Items
fruits = ["apple", "banana"]
fruits.append("mango")      # add at end
fruits.insert(1, "orange")  # add at position 1
print(fruits)   # ['apple', 'orange', 'banana', 'mango']

In [ ]:
##. Removing Items
fruits = ["apple", "banana", "mango"]

fruits.remove("banana")   # remove by value
print(fruits)  # ['apple', 'mango']

fruits.pop()   # removes last item
print(fruits)  # ['apple']

del fruits[0]  # delete item at index
print(fruits)  # []

In [ ]:
##Looping Through a List
fruits = ["apple", "banana", "mango"]
for f in fruits:
    print(f)

In [ ]:
##Tuples
A tuple is like a list, but it is immutable (cannot be changed).
Defined using parentheses ( ).
Ordered, allows duplicates, can store different data types.

In [ ]:
##Creating Tuples
fruits = ("apple", "banana", "mango")
numbers = (1, 2, 3, 4, 5)
mixed = (1, "hello", 3.14, True)

In [ ]:
##Accessing Tuple Items
fruits = ("apple", "banana", "mango")

print(fruits[0])   # apple
print(fruits[1])   # banana
print(fruits[-1])  # mango (last item)

In [ ]:
##. Tuple is Immutable ie it cannot be changed
fruits = ("apple", "banana", "mango")
# fruits[1] = "orange"  ❌ ERROR: cannot change tuple values

## Set

In [ ]:
A set is an unordered collection of unique items.
Defined using curly braces { } or the set() function.
No duplicates allowed.
Unordered → items have no fixed position.
Mutable → you can add/remove items, but elements themselves must be immutable (no lists/dicts inside).

In [ ]:
##Creating a Set
fruits = {"apple", "banana", "mango"}
print(fruits)   # order may change!

In [ ]:
##Duplicates are Removed
nums = {1, 2, 2, 3, 4, 4, 5}
print(nums)   # {1, 2, 3, 4, 5}

In [ ]:
##Using set() Constructor
my_set = set([1, 2, 3, 3, 4])
print(my_set)   # {1, 2, 3, 4}

In [ ]:
##Adding & Removing Items

fruits = {"apple", "banana"}

fruits.add("mango")     # add item
print(fruits)           # {'apple', 'banana', 'mango'}

fruits.remove("banana") # remove item (error if not found)
fruits.discard("pear")  # safe remove (no error if not found)
print(fruits)           # {'apple', 'mango'}

popped = fruits.pop()   # remove random item
print(popped, fruits)

##  Dictionary

In [ ]:
A dictionary is a collection of key–value pairs.
Keys must be unique and immutable (strings, numbers, tuples).
Values can be any data type and can be duplicated.

In [ ]:
##Creating a Dictionary
student = {
    "name": "Rabina",
    "age": 21,
    "college": "Cosmos"
}
print(student)

In [ ]:
##Accessing Values
print(student["name"])    
print(student.get("age"))

In [ ]:
##Changing or Adding Values
student["age"] = 22           # change value
student["city"] = "Kathmandu" # add new key-value
print(student)

In [ ]:
##Removing Items
del student["college"]    # remove by key
city = student.pop("city") # remove and return value
print(student, city)

In [ ]:
##Looping Through a Dictionary
student = {"name": "Rabina", "age": 21}

# Loop through keys
for key in student:
    print(key)

# Loop through values
for value in student.values():
    print(value)

# Loop through key-value pairs
for key, value in student.items():
    print(key, ":", value)

In [ ]:
##Nested Dictionary
students = {
    "s1": {"name": "Rabina", "age": 21},
    "s2": {"name": "Juicy", "age": 22}
}

print(students["s1"]["name"])  # Rabina

In [ ]:
##Operators
Operators are used to perform operations on variables and values.

In [ ]:
Python divides the operators in the following groups:

Arithmetic operators:+ Add, - Subtract, * Multiply, / Divide, // Floor divide, % Remainder, ** Power
Assignment operators: = Assign, += Add & assign, -= Subtract & assign, *= Multiply & assign, /= Divide & assign, //= Floor divide & assign, %= Modulus & assign, **= Power & assign
Comparison operators: == Equal, != Not equal, > Greater, < Less, >= Greater or equal, <= Less or equal
Logical operators: and Both True, or Either True, not Invert value
Identity operators: is → same object, is not → different object
Bitwise operators: & AND, | OR, ^ XOR, ~ NOT, << Left shift, >> Right shift

## String

In [ ]:
##string: A string is a sequence of characters enclosed in quotes.
Can be single '...', double "...", or triple '''...''' / """...""" for multi-line strings.
Strings are immutable → cannot change individual characters directly.

In [44]:
##Creating Strings
str1 = "Hello"
str2 = 'Python'
str3 = """This is
a multi-line
string"""

In [43]:
##Accessing Characters
text = "Python"
print(text[0])   # P
print(text[3])   # h
print(text[-1])  # n (last character)

P
h
n

In [ ]:
##Slicing Strings
text = "Python"
print(text[0:4])  # 'Pyth' (from 0 to 3)
print(text[2:])   # 'thon' (from 2 to end)
print(text[:3])   # 'Pyt' (from start to 2)
print(text[-4:-1])# 'tho' (negative indexing)

###  String Operations

In [ ]:
##Concatenation
a = "Hello"
b = "World"
c = a + " " + b
print(c)

In [45]:
##Repetition
text = "Hi! "
print(text * 3)  # Hi! Hi! Hi!

Hi! Hi! Hi!

In [46]:
##Length
text = "Python"
print(len(text))  # 6

6

In [47]:
##String Methods
text = "python programming"

print(text.upper())      # 'PYTHON PROGRAMMING'
print(text.lower())      # 'python programming'
print(text.title())      # 'Python Programming'
print(text.replace("python", "java"))  # 'java programming'
print(text.split())      # ['python', 'programming']
print("python" in text)  # True

PYTHON PROGRAMMING
python programming
Python Programming
java programming
['python', 'programming']
True

#### Control Flow (if, loops) in python

In [ ]:
if, elif, else statements

In [48]:
age = 18

if age < 13:
    print("You are a child.")
elif age < 20:
    print("You are a teenager.")
else:
    print("You are an adult.")

You are a teenager.

In [ ]:
##Loops

In [ ]:
#for loop

In [49]:
#Looping over a list
fruits = ["apple", "banana", "mango"]
for fruit in fruits:
    print(fruit)

apple
banana
mango

In [50]:
#Using range()
for i in range(5):  # 0 to 4
    print(i)

0
1
2
3
4

In [51]:
##while loop: Repeats as long as a condition is True.

In [52]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [ ]:
##Loop control statements

In [ ]:
break	Stops the loop completely
continue	Skips the current iteration, moves to the next one
pass	Does nothing (placeholder for future code)

In [53]:
for i in range(5):
    if i == 3:
        break  # stops the loop
    print(i)

0
1
2

In [54]:
for i in range(5):
    if i == 2:
        continue  # skip this iteration
    print(i)

0
1
3
4